<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="net.petrjanousek.OnlineTelevizor" android:installLocation="preferExternal" android:versionCode="65" android:versionName="65">
	<uses-sdk android:minSdkVersion="18" android:targetSdkVersion="33" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="OnlineTelevizor" android:icon="@drawable/Icon"></application>
	<uses-feature android:name="android.hardware.usb.host" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
	<uses-feature android:name="android.software.leanback" android:required="false" />
	<uses-permission android:name="com.android.vending.BILLING" />
	<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
</manifest>